<footer class="bg-primary text-white py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-3">
        <h5 class="fw-bold text-uppercase">NoCash</h5>
        <p>
          simplify cash transactions. It bridges the gap between physical cash
          and digital solutions by offering extra features
        </p>
      </div>
      <div class="col-md-4 mb-3">
        <h5 class="fw-bold text-uppercase">Quick Links</h5>
        <ul class="list-unstyled">
          <li>
            <a href="/transactions" class="text-white text-decoration-none"
              >Transactions</a
            >
          </li>
          <li>
            <a href="/charity" class="text-white text-decoration-none"
              >Charity</a
            >
          </li>
          <li>
            <a href="/campaign" class="text-white text-decoration-none"
              >Campaigns</a
            >
          </li>
        </ul>
      </div>
      <div class="col-md-4 mb-3">
        <h5 class="fw-bold text-uppercase">Contact Us</h5>
        <p>
          Email:
          <a
            href="mailto:mohsen.salman099@gmail.com"
            class="text-white text-decoration-none"
            >mohsen.salman099@gmail.com</a
          >
        </p>
        <p>
          Phone:
          <a href="tel:+97339970100" class="text-white text-decoration-none"
            >+973 39970100</a
          >
        </p>
        <p>
          Follow us:
          <a href="#" class="text-white me-2"
            ><i class="fab fa-facebook"></i
          ></a>
          <a href="#" class="text-white me-2"><i class="fab fa-twitter"></i></a>
          <a href="#" class="text-white"><i class="fab fa-instagram"></i></a>
        </p>
      </div>
    </div>
  </div>
</footer>
